a {
    text-decoration: none;
}

#poster_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.poster_wrapper {
    margin: 0 4px;
}

.poster_logo {

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 0 auto;
    min-width: 250px;
    min-height: 400px;
}

.poster_logo img {
    border: 1px solid var(--txt-color-main-translucent);
    border-radius: 50%;

    box-shadow: 0px 0px 4px 0px var(--txt-color-main);

    position: relative;
    width: 100%;
    min-height: 100%;
}

.poster_title {
    font-size: 1.2rem;
    padding-top: 4px;
    text-align: center;
}



@media screen and (max-width: 720px) {
    #poster_container {
        flex-wrap: column;
    }
}