* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  
  font-family: sans-serif;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #333333;
  background-color: #eeeeee;
}

p {
  margin: 0;
  padding: 0;
}

#root {
  min-width: 100vw;
}